@media (max-width: 980px) {
    .container {
        min-width: 90vw;
    }
}

@media (max-width: 770px) {
    .container .input-area #username-input,
    .container .input-area #search-btn {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .container .profile-container .profile {
        flex-direction: column;
    }

    .container .profile-container .profile .profile-picture {
        margin-bottom: 10px;
    }

    .container .repositories-container .repository-list {
        gap: 10px;
    }
}